<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'staff')}">

<body>


<div class="container">
  <h1>Staff Input</h1>
  <div>
    <div>
        <div>
          <div>
            <label>Staff Id</label>
          </div>
          <input type="text" name="staffId" value="" />
          <!--<div class="text-danger" th:if="${#fields.hasErrors('vendor')}" th:errors="*{vendor}"></div> -->
        </div>
      </div>
      <div>
        <div>
          <div>
            <label>Name</label>
          </div>
          <input type="text" name="name" value="" />
          <!--<div class="text-danger" th:if="${#fields.hasErrors('vendor')}" th:errors="*{vendor}"></div> -->
        </div>
    </div>
    <div>
      <div>
        <div>
          <label>Age</label>
        </div>
        <input type="text" name="age" value="" />
        <!--<div class="text-danger" th:if="${#fields.hasErrors('vendor')}" th:errors="*{vendor}"></div> -->
      </div>
    </div>
    <div>
      <div>
        <input type="submit" value="新規" />
      </div>
    </div>
  </div>


  <h1>Staff Output</h1>
  <ul th:each="record : ${records}">
    <li th:text="${record}"/>
  </ul>
</div>

<table>
  <thead>
    <tr>
      <th style="width: 20%">STaff Id</th>
      <th style="width: 60%">Name</th>
      <th style="width: 20%">Age</th>
    </tr>
  </thead>
</table>

</body>
</html>
