<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'staff')}">

<body>

  <style type="text/css">
    table, td, th {
    border: 1px solid;
    }

    td, th {
    padding: 2px;
    }

    input {
    margin-top: 2px;
    margin-bottom: 2px;
    }
  </style>

<div class="container">
  <h1>New Staff</h1>
  <form method="post" th:action="@{/new}" modelAttribute="StaffForm" >
  <div>
    <div>
        <div>
          <div>
            <label>Staff Id</label>
          </div>
          <input type="text" name="text_staffId" value="" />
        </div>
      </div>
      <div>
        <div>
          <div>
            <label>Name</label>
          </div>
          <input type="text" name="text_name" value="" />
        </div>
    </div>
    <div>
      <div>
        <div>
          <label>Age</label>
        </div>
        <input type="text" name="text_age" value="" />
      </div>
    </div>
    <div>
      <div>
        <input type="submit" name="btn_new" value="新規" />
      </div>
    </div>
  </div>
  </form>

  <h1>Staff List</h1>
  <input type="button" onclick="location.href='./new'" value="新規作成">
  <table>
    <thead>
      <tr style="background-color:black">
        <th style="width: 50px"><font color="#FFFFFF">Edit</font></th>
        <th style="width: 50px"><font color="#FFFFFF">Delete</font></th>
        <th style="width: 200px"><font color="#FFFFFF">Sfid</font></th>
        <th style="width: 100px"><font color="#FFFFFF">Staff Id</font></th>
        <th style="width: 150px"><font color="#FFFFFF">Name</font></th>
        <th style="width: 50px"><font color="#FFFFFF">Age</font></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="record : ${records}"} >
        <td><input type="submit" name="btn_edit" value="編集" /></td>
        <td><input type="submit" name="btn_delete" value="削除" /></td>
        <td th:text="${record.sfid}"></td>
        <td th:text="${record.staffId}"></td>
        <td th:text="${record.name}"></td>
        <td th:text="${record.age}"></td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
