<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'staff')}">

<body>


<div class="container">
  <h1>Staff Input</h1>
  <div>
    <div>
        <div>
          <div>
            <label>Staff Id</label>
          </div>
          <input type="text" name="staffId" value="" />
          <!--<div class="text-danger" th:if="${#fields.hasErrors('vendor')}" th:errors="*{vendor}"></div> -->
        </div>
      </div>
      <div>
        <div>
          <div>
            <label>Name</label>
          </div>
          <input type="text" name="name" value="" />
          <!--<div class="text-danger" th:if="${#fields.hasErrors('vendor')}" th:errors="*{vendor}"></div> -->
        </div>
    </div>
    <div>
      <div>
        <div>
          <label>Age</label>
        </div>
        <input type="text" name="age" value="" />
        <!--<div class="text-danger" th:if="${#fields.hasErrors('vendor')}" th:errors="*{vendor}"></div> -->
      </div>
    </div>
    <div>
      <div>
        <input type="submit" value="保存" />
      </div>
    </div>
  </div>

  <h1>Staff Output</h1>
  <input type="clear" value="新規" />
  <table style="border-collapse: collapse; border-color:black" border="1">
    <thead>
      <tr style="background-color:black">
        <th style="width: 50px"><font color="#FFFFFF">EDIT</font></th>
        <th style="width: 50px"><font color="#FFFFFF">DELETE</font></th>
        <th style="width: 100px"><font color="#FFFFFF">Staff Id</font></th>
        <th style="width: 150px"><font color="#FFFFFF">Name</font></th>
        <th style="width: 50px"><font color="#FFFFFF">Ages</font></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="record : ${records}"} >
        <td><input type="submit" value="編集" /></td>
        <td><input type="submit" value="削除" /></td>
        <td th:text="${record.staffId}"></td>
        <td th:text="${record.name}"></td>
        <td th:text="${record.age}"></td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
